/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* BASE */
  body {
    height: 100vh;
    background-color: #e7e5e5ec;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #000;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  /* HEADER */
  header {
    background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg") no-repeat center/cover;
    padding: 2rem;
    text-align: center;
    color: #fff;

  }
  
  /* SECTIONS GERAIS */
  .section {
    padding: 2rem;
    border-bottom: 3px solid;
    border-image-slice: 0.9;
    border-image-source: linear-gradient(90deg, #ff9100, #1c0d6a, #438b86);
   }
  
  .section-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  /* ABOUT */
  .about .content {
    width: 75%;
    margin: 0 auto;
  }

  .about .description-content {
    margin-left: 180px; /* espaço para imagem */
    padding: 1rem;
  }

  .about .image-content{
    background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg") no-repeat center/cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ff9100;
    overflow: hidden;
    float: left;
}

.about .description-content{
    margin-left: 180px;
    padding: 20px;
}



.skills{
    text-align: center;
    background-color: #ffff ;
}

.skills ul{
    list-style: none;
    margin: 0 auto;
}

.skills ul li{
    display: inline-block;
    border: 2px solid #ff9100;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: rgb(58, 35, 187);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
    transition: transform linear 0.3s;
}

.skills ul li:hover{
    transform: scale(1.2);
}
.projects{
    text-align: center;
}

.projects .project{
    background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg") no-repeat center/cover;
    background-repeat: no-repeat;
    background-size: over;
    width: 40%;
    max-width: 350px;
    margin: 1rem;
    display: inline-block;
    padding: 2rem;
    color: #fff;
    box-shadow: 0px 0px 30px #ff9100;
    border-radius: 10px;
    vertical-align: top;
    } 

    .contact{
        text-align: center;
        background: url("https://images.pexels.com/photos/7293752/pexels-photo-7293752.jpeg") no-repeat center/cover;
        color: #fff;
    }
    
    .contact form{
        width: 60%;
        max-width: 500px;
        margin: 2rem auto;
        text-align: left;
    }

    .contact label{
        display: block;
        margin-bottom: 0.3rem;
        color: #fff;
        text-align: center;
        text-align: left;
    }

    .contact input{
        all:unset;
        background-color: #fff;
        display: block;
        margin-bottom: 1rem;
        padding: 0.6rem 1rem;
        width:100%;
        border-radius:6px;
        color: #000;
    }

    .contact input[type="submit"]{
        background-color: #ff9100;
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
    }