@font-face{
    font-family: 'Urban Jungle';
    src: url(/Atividades_em_Aula/atvAula3/fonts/UrbanJungleDEMO.otf)
}

@font-face{
    font-family: 'Roboto';
    src: url(/Atividades_em_Aula/atvAula3/fonts/Roboto-Regular.ttf);
}


*{/* Reset Básico */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'roboto';
    background: linear-gradient(135deg,#2c3e50,#bdc3c7);
    color: #2c3e50;
    padding: 20px;
    height: 100vh;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold; /* com esta font é inutil */
    font-family: "urban jungle";
    letter-spacing: 2px;
}

img{
    height: 200px; /* inutil visto o .avatar */
}

.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.section{
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    max-width: 1200px;
}

.section p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    color:#7f8c8d;
    text-align: justify;
    font-style: italic;
}



table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td{
    padding: 12px;
    text-align: left;
    border: 1px solid #dcdcdc;
}

th{
    background-color:#34495e;
    color: #ecf0f1;
}

tr:nth-child(even){
    background-color: #ecf0f1;
    /* Linhas Pares (even) */
}

tr:nth-child(odd){
    background-color: #c3c3c3;
    /* Linhas Impares (odd)*/
}

form{
    margin-top:20px;
    color:#34495e;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label{
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],input[type="email"], input[type="submit"]{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

input[type="submit"]{
    transition: 0.3s;
    background-color: #3498db;
    color: #ecf0f1;
    cursor:pointer;
    font-weight:900;
}

input[type="submit"]:hover{
    background-color: rgb(97, 182, 239);
}